* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.text-box {
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 0 2.5px 2.5px rgb(228, 228, 228);
    width: 70%;
    height: fit-content;
    margin-top: 3rem;
}

h1 {
    text-align: right;
    width: 100%;
    font-family: 'Arapey', serif;
    font-size: 2.5rem;
    padding: 1.5rem;
}

h2 {
    margin-top: 2rem;
}

.page {
    font-family: serif;
    line-height: 2;
    font-size: 0.99rem;
    opacity: 0.8;
    padding: 3.5rem;
}

ul {
    margin: 7rem 3rem;
    list-style: none;
}

.menu-title {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

li {
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 2rem;
}


